@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  @include dimensions(clamp(800px, 85%, 1030px), max-content);
  margin: $offset-top-header auto;
}

.details-container {
  @include dimensions(100%, max-content);
  padding: 1rem;
  display: grid;
  grid-template-columns: 70% 0.15fr 1.7fr;
  grid-template-rows: repeat(5, 13rem);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "gallery technicals technicals"
    "gallery technicals technicals"
    "gallery technicals technicals"
    "description description contacts"
    "description description contacts";

  background-color: $bg-color-1;
  box-shadow: $shadow-2;

  font-family: $text-font;

  & > div:nth-child(4) {
    grid-area: contacts;
  }
}

.contacts,
.description,
.technicals {
  @include flex-box(column, nowrap);
  row-gap: 1rem;
  padding: 1rem;

  background-color: $bg-color-3;
  @include border(null, null, null, map-get($radius, "small"));

  color: $font-color-2;

  img {
    @include dimensions(20px, 20px);
    margin: 0 5px -5px 0;
  }

  h4,
  h5 {
    padding-bottom: 1rem;

    font-size: map-get($font-sizes, "large");
    font-weight: map-get($font-weights, "medium");
    text-align: center;
    line-height: 2rem;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;

    border-bottom: 2px solid $bg-color-3;
  }

  span {
    word-break: break-all;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: $bg-color-3;
  }
}

.description {
  grid-area: description;

  p {
    max-height: 100%;

    line-height: 1.5rem;
    overflow: auto;
  }
}

.technicals {
  grid-area: technicals;

  text-align: center;

  p {
    padding: 0.5rem;

    background-color: $nav-bg-color-light;

    color: $font-color-3;
    font-size: map-get($font-sizes, "medium");
  }

  h5 {
    font-size: map-get($font-sizes, "medium");
  }

  sup {
    vertical-align: super;
    font-size: map-get($font-sizes, "xs");
  }

  th,
  td {
    table-layout: fixed;
    padding: 0.5rem 0;
    text-align: start;

    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: hidden;
  }

  td::first-letter {
    text-transform: capitalize;
  }

  th {
    font-weight: map-get($font-weights, "medium");
  }
}

.gallery {
  grid-area: gallery;
  background-color: $bg-color-1;
}

.light-box {
  @include dimensions(100%, 100%);
  min-width: 400px;
  min-height: 300px;
  position: fixed;
  inset: 0;

  z-index: 6;
  background-color: $backdrop-color-light;
}

.button-container {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;

  z-index: 2;

  button {
    @include flex-box(row);
    padding: 1rem;

    @include border(null, null, null, map-get($radius, "circle"));
    @include outline(2px, solid, transparent, -5px);
    background-color: $nav-bg-color-light;

    cursor: pointer;
    transition: $transition;

    & img {
      @include dimensions(1rem, 1rem);
    }

    &:hover,
    &:focus {
      @include outline(2px, solid, $bg-color-1, -5px);
    }
  }
}

@media only screen and (max-width: 850px) {
  .main {
    @include dimensions(100%, max-content);
  }

  .details-container {
    padding: 1rem 0 0 0;
    grid-template-columns: 48vw 48vw;
    grid-template-rows: auto max-content auto max-content;
    grid-column-gap: 5px;
    grid-row-gap: 1rem;
    grid-template-areas:
      "technicals technicals"
      "gallery gallery"
      "contacts contacts"
      "description description";
    justify-content: center;
    box-shadow: none;
  }

  .description {
    p {
      word-break: break-all;
    }
  }
  .contacts,
  .description,
  .technicals {
    background-color: $bg-color-3;
    @include border(null, null, null, 0);
  }
}

@media only screen and (max-width: 700px) {
  .lightbox {
    @include dimensions(100%, 100%);
    @include flex-box(row, wrap);
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    min-width: 0;
    min-height: 0;
    position: fixed;
  }
}
