@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  @include dimensions(clamp(500px, 85%, 1030px), max-content);
  margin: 2rem auto;
}

.details-container {
  @include dimensions(100%,max-content);
  padding: 1rem;
  display: grid;
  grid-template-columns: 70% 0.15fr 1.7fr;
  grid-template-rows: repeat(5, 13rem);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "gallery technicals technicals"
    "gallery technicals technicals"
    "gallery technicals technicals"
    "description description contacts"
    "description description contacts";

  font-family: $text-font;

  background-color: $bg-color-1;
  box-shadow: $shadow-2;

  & > div:nth-child(4) {
    grid-area: contacts;
  }

}

.contacts,
.description,
.technicals {
  padding: 1rem ;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  color: $font-color-2;
  background-color: $bg-color-4;

  border-radius: 10px;

  img {
    @include dimensions(20px, 20px);
    margin: 0 5px -5px 0;

    filter: invert(30%);
  }

  h4,
  h5 {
    padding-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;

    border-bottom: 2px solid $bg-color-4;
  }

  span {
    word-break:break-all;
  }

}

.description {
  grid-area: description;

  p {
    max-height: 100%;

    line-height: 1.5rem;
    overflow: auto;
  }
}

.technicals {
  grid-area: technicals;

  text-align: center;

  p {
    padding: 0.5rem;

    font-size: 1.2rem;
    color: $font-color-3;
    background-color: $nav-bg-color-light;
  }

  h5 {
    font-size: 1.1rem;
  }

  sup {
    vertical-align: super;
    font-size: 0.7rem;
  }

  th,
  td {
    padding: 0.5rem 0;
    text-align: start;
  }

  th {
    font-weight: 600;
  }
}

.gallery {
  grid-area: gallery;
  background-color: $bg-color-1;
}

.light-box {
  @include dimensions(100%, 100%);
  min-width: 400px;
  min-height: 300px;
  position: fixed;
  inset: 0;

  z-index:3;
  background-color: $backdrop-color-2;
}

.button-container {
  position: absolute;
  top:1.5rem;
  left:1.5rem;
  z-index:2;

 button {
    display:flex;
    flex-direction: row;
    border-radius: 50%;
    border: none;
    outline:2px solid rgba(255, 255, 255, 0);
    outline-offset: -5px;
    background-color:$nav-bg-color-light;
    cursor: pointer;
    padding:1rem;
    transition: $transition;

    & img {
      @include dimensions(1rem,1rem);
      filter:invert(100%);
    }

    &:hover,&:focus {
      outline: 2px solid $bg-color-1;
    }
  }
}