@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  @include dimensions(100%, max-content);
  @include flex-box(row);
  padding: $offset-top-header 0;

  font-family: $text-font;

  section {
    @include dimensions(clamp(400px, 60%, 800px), clamp(700px, 95vh, 800px));
    @include flex-box(row);
    column-gap: 2rem;
    margin: auto;
    padding: 1.5rem 1rem;

    background-color: $bg-color-3;
    @include border(null, null, null, map-get($radius, "medium"));
    box-shadow: $shadow-2;

    text-align: center;
    color: $font-color-1;

    h1 {
      margin: 1rem 0;
      padding-bottom: 1rem;

      border-bottom: 2px solid $bg-color-3;

      font-size: map-get($font-sizes, "xl");
      font-weight: map-get($font-weights, "medium");
    }

    p {
      margin: 1rem 0;
      font-size: map-get($font-sizes, "medium");
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $nav-bg-color-light;
      font-weight: map-get($font-weights, "medium");
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    & > div {
      @include dimensions(50%, 100%);
    }
  }

  & form {
    @include flex-box(row);
    row-gap: 2rem;

    & input[type="text"],
    & input[type="password"] {
      @include dimensions(70%, auto);
      margin-top: 0.5rem;
      padding: 0.7rem;

      background-color: $nav-bg-color-light;
      @include border(null, null, null, map-get($radius, "medium"));
      @include outline(2px, solid, transparent, 3px);

      color: $font-color-3;
      text-align: center;

      transition: $transition;
    }

    & input[type="checkbox"] {
      @include dimensions(15px, 15px);

      cursor: pointer;
      accent-color: $nav-bg-color-light;
    }

    & input[type="checkbox"] ~ label {
      line-height: 1.2rem;
      cursor: pointer;
    }

    & > div {
      position: relative;

      & span {
        display: inline-block;
        height: 1rem;
        margin-top: 5px;
        position: absolute;
        bottom: -1.3rem;
        left: 50%;
        transform: translateX(-50%);

        color: $error-color;
        font-size: map-get($font-sizes, "small");
        line-height: 1rem;
        text-overflow: ellipsis;
        text-align: center;

        white-space: nowrap;
        overflow: hidden;
      }
    }

    & button {
      width: 100px;
      margin: 0 0.5rem;
      padding: 0.5rem;

      background-color: $nav-bg-color-light;
      @include border(null, null, null, map-get($radius, "medium"));
      @include outline(2px, solid, transparent, 3px);

      color: $font-color-3;
      font-family: $text-font;
      font-size: map-get($font-sizes, "small");

      transition: $transition;
      cursor: pointer;

      &:hover,
      &:active {
        box-shadow: $shadow-inset;
      }

      & img {
        @include dimensions(20px, 15px);

        pointer-events: none;
      }

      &[disabled] {
        background-color: $bg-color-3;
        pointer-events: none;
      }
    }

    & input:focus,
    & button:focus {
      @include outline(2px, solid, $font-color-1, 3px);
    }
  }
}

.login {
  flex-direction: column;

  text-align: center;
  color: $font-color-2;

  & > div {
    @include dimensions(100%, auto);
  }

  & > div:last-child {
    @include flex-box(row);
    justify-content: center;
    column-gap: 5px;
  }
}

.register {
  @include flex-box(row, wrap);
  justify-content: center;

  text-align: center;
  color: $font-color-2;

  & > div {
    @include dimensions(100%, auto);
  }

  & > div:nth-child(1),
  & > div:nth-child(2) {
    @include dimensions(50%, auto);
  }
  & > div:nth-last-child(2) {
    @include flex-box(row);
    justify-content: center;
    column-gap: 5px;
  }
}

.side-image {
  @include border(null, null, null, map-get($radius, "medium"));
  overflow: hidden;

  & img {
    @include dimensions(100%, 100%);
    object-fit: cover;
  }
}
