@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  margin: $offset-top-header auto;

  text-align: center;
  color: $font-color-3;
}

.message-box {
  @include dimensions(clamp(250px, 50vw, 600px), max-content);
  position: relative;
  margin: 0 auto;
  padding: 2.5rem 0.5rem;

  background: $nav-bg-color-medium;
  box-shadow: $shadow-2;
  @include border(null, null, null, 50px 15px);

  font-size: clamp(6px, 10vw, 1.5rem);
  font-family: $link-font;

  z-index: 1;

  a,
  a:active,
  a:visited,
  a:link {
    width: max-content;
    padding: 1.2rem;
    position: absolute;
    bottom: -2rem;
    transform: translateX(-50%);

    background-color: $nav-bg-color-dark;
    box-shadow: inherit;
    @include border(null, null, null, map-get($radius, "medium"));

    font-family: $text-font;
    color: inherit;

    transition: $transition;
  }

  a:hover {
    color: $nav-bg-color-dark;
    background-color: $bg-color-2;
  }
}

.image-box {
  margin: 0 auto;

  & img {
    @include dimensions(60vh, 60vh);

    pointer-events: none;
    filter: hue-rotate(25deg);
  }
}

.fb-image-box {
  margin: 5% auto;

  & img {
    max-width: 90vw;
    pointer-events: none;
    filter: hue-rotate(45deg);
  }
}

@media only screen and (max-width: 700px) {
  .main {
    margin-top: calc($offset-top-header * 2);
  }

  .message-box {
    padding: 1.5rem;
    width: 70%;
    @include border(null, null, null, map-get($radius, "medium"));

    a,
    a:active,
    a:visited,
    a:link {
      width: 300px;
      max-width: 70vw;
      padding: 0.8rem;
      bottom: calc(-5rem + 3vw);
    }
  }

  .image-box {
    margin: 0 auto;

    & img {
      margin-top: $offset-top-header;
      @include dimensions(65vw, auto);
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    min-height: 0;
  }
}
