@import "../../../main-styles/mixins.scss";
@import "../../../main-styles/variables.scss";

.spinner {
  @include dimensions(3rem, 3rem);
  margin: auto;

  border-radius: 50%;
  border-top: solid $nav-bg-color-light 5px;
  border-right: solid$nav-bg-color-light 5px;
  border-bottom: solid$bg-color-1 5px;
  border-left: solid $bg-color-1 5px;

  -webkit-animation: rotate-center 1s linear infinite both;
  animation: rotate-center 1s linear infinite both;
}



@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.backdrop {
  @include dimensions(100vw, 100vh);
  display: flex;
  flex-direction: row;
  justify-content: right;

  background-color: $backdrop-color;

  position: fixed;
  inset: 0;
  z-index: 5;

  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
