@import "../../../main-styles/mixins.scss";
@import "../../../main-styles/variables.scss";

.card-container {
  @include dimensions(100%, max-content);
  max-width: 80rem;
  @include flex-box(row, wrap);
  align-content: space-between;
  justify-content: center;
  gap: 1rem;
  margin: auto;

  & a {
    @include dimensions(clamp(12rem, 18%, 15rem), max-content);
    display: inline-block;
    padding-bottom: 1rem;

    background-color: $bg-color-3;
    box-shadow: $shadow-2;
    @include border(null, null, null, map-get($radius, "medium"));

    color: $font-color-2;

    overflow: hidden;
    transition: $transition;

    &:hover {
      box-shadow: $shadow;
    }
  }
}

.card {
  position: relative;
  @include flex-box(column, wrap);

  & h6,
  & p {
    padding: 0.5rem 0 0.5rem 1rem;
  }

  & h6 {
    @include dimensions(90%, auto);

    font-weight: map-get($font-weights, "medium");
    text-decoration: underline;
    text-decoration-color: $font-color-1;
    text-underline-offset: 5px;
    text-overflow: ellipsis;
    line-clamp: 1;
    line-height: 1.5rem;

    white-space: nowrap;
    overflow: hidden;
  }
}

.gallery {
  @include dimensions(100%, 13rem);
  position: relative;

  overflow: hidden;

  & > div {
    @include dimensions(100%, 100%);

    transition: $transition;
    white-space: nowrap;

    & span {
      @include dimensions(100%, 100%);
      display: inline-block;

      overflow: hidden;

      & img {
        all: unset;
        @include dimensions(100%, 100%);

        object-position: center center;
        object-fit: cover;
      }
    }
  }

  button {
    position: absolute;
    top: 50%;
    padding: 0.5rem;
    transform: translateY(-50%);

    background-color: rgba(83, 96, 109, 0.446);
    border: none;

    cursor: pointer;
    transition: $transition;

    & img {
      @include dimensions(20px, 20px);

      filter: invert(80%);
      transition: $transition;
    }

    &:hover {
      background-color: $nav-bg-color-light;

      & img {
        filter: invert(100%);
      }
    }
  }
}

.button-backward {
  left: 0;

  border-radius: 0 25% 25% 0;
}

.button-forward {
  right: 0;

  border-radius: 25% 0 0 25%;
}

.empty {
  @include dimensions(100%, 30vh);
  min-height: 500px;
  display: flex;

  & > p {
    margin: auto;

    text-align: center;
    color: $font-color-1;
    font-family: $link-font;
    font-size: map-get($font-sizes, "xl");
    font-weight: map-get($font-weights, "medium");
  }
}
