@import "../../../main-styles/mixins.scss";
@import "../../../main-styles/variables.scss";

.controls {
  padding: 0 1rem;
  margin: 2rem 0;
  @include flex-box(row);
  justify-content: space-between;

  & > form {
    @include dimensions(15rem, auto);
    @include flex-box(row);
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    color: $font-color-1;
    font-family: $text-font;

    & select {
      padding: 0.5rem;

      border: none;
      outline: none;
      background-color: $bg-color-2;

      color: $font-color-2;
      font-family: inherit;
      font-size: map-get($font-sizes, "small");
    }
  }

  & > *:nth-child(1) {
    order: 0;
  }
  & > *:nth-child(2) {
    order: 1;
  }
  & > *:nth-child(3) {
    order: 2;
  }
}

.pagination-container {
  @include dimensions(max-content, 100%);
  padding: 0.5rem;
  @include flex-box(row);
  align-items: center;
  column-gap: 5px;

  & button {
    @include dimensions(30px, 30px);

    background-color: $font-color-3;
    @include border(null, null, null, map-get($radius, "circle"));
    @include outline(solid, $font-color-3, 2px, 0px);

    color: $font-color-1;
    font-weight: map-get($font-weights, "medium");

    cursor: pointer;
    transition: $transition;

    & img {
      @include dimensions(15px, 15px);
    }

    
    &:hover {
      @include outline(solid, $nav-bg-color-dark, 2px, 0px);
    }
  }

  span {
    color:$font-color-1;
    font-size:map-get($font-sizes, "medium");
    letter-spacing: 1px;
    
    pointer-events: none;
  }
}

.active-page {
  @include outline(solid, $nav-bg-color-dark, 2px !important, 0px);
}

@media only screen and (max-width: 850px) {
  .controls {
    @include flex-box(row, wrap);
    row-gap: 1rem;
    justify-content: space-between;

    & > *:nth-child(1) {
      order: 0;
    }
    & > *:nth-child(2) {
      order: 2;
      width: 100%;
    }
    & > *:nth-child(3) {
      order: 1;
    }

    & > form {
      @include dimensions(max-content, auto);
      column-gap: 0.3rem;

      & label {
        font-size: clamp(5px, 3.5vw, map-get($font-sizes, "small"));
      }

      & select {
        padding: 0.3rem;

        font-size: clamp(5px, 3.5vw, map-get($font-sizes, "small"));
      }
    }
  }
  .pagination-container {
    margin: auto;
    justify-content: center;
  }
}
