@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.form-wrapper {
  @include dimensions(100%, 15rem);
  margin: 2vw 0;

  & form {
    @include dimensions(clamp(300px, 100%, 600px), max-content);
    @include flex-box(row, wrap);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: auto;

    background: $font-color-3;
    box-shadow: $shadow-2;
    @include border(null, null, null, map-get($radius, "medium"));

    & div {
      @include dimensions(25%, 40%);
      @include flex-box(column, wrap);
      align-items: center;
      align-content: center;

      font-family: $link-font;

      button {
        all: unset;

        @include dimensions(50%, max-content);
        max-width: 100px;
        margin-top: 2rem;
        padding: 0.5rem 0;

        background-color: $nav-bg-color-light;
        box-shadow: $shadow-2;

        text-align: center;
        color: $font-color-3;
        font-family: $text-font;

        @include border(null, null, null, 5px);
        cursor: pointer;

        img {
          @include dimensions(25%, 25%);
        }
      }

      & > div {
        @include dimensions(100%, 40%);
        position: relative;

        & img {
          @include dimensions(15px, 15px);
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);

          pointer-events: none;
          filter: invert(100%);
        }
      }

      label {
        margin: 0.5rem 0;

        color: $font-color-1;
      }

      select {
        @include dimensions(100%, 100%);
        position: relative;
        padding: 1rem;

        appearance: none;
        background: $nav-bg-color-light;
        border: none;
        outline: none;

        overflow: auto;
        cursor: pointer;

        color: $font-color-3;
        font-family: $text-font;
        font-size: map-get($font-sizes, "small");
      }

      select:hover,
      select:focus,
      button:hover,
      button:focus {
        box-shadow: $shadow-inset;
      }
    }
  }
}
