@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.backdrop {
  @include dimensions(100vw, 100vh);
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  inset: 0;

  background-color: $backdrop-color-dark;
  z-index: 5;
}

.sidebar {
  @include dimensions(200px, 100%);
  padding-top: 1rem;
  position: fixed;

  background-color: $nav-bg-color-medium;
  box-shadow: $shadow-2;

  -webkit-animation: fade-in-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  & > * {
    @include dimensions(80%, max-content);
    padding: 0.7rem;


    & li {
      border-radius: 30px;
      transition: $transition;

      &:hover a {
        padding-left: 1rem;

        background: $nav-bg-color-light;
        box-shadow: $shadow-2;

        & img {
          opacity: 1;
        }

      }
    }

    a {
      @include dimensions(80%, auto);
      display:flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1rem;
      padding: 0.5rem;

      border-radius: 30px;
      
      color: $font-color-3;
      font-family: $text-font;

      transition: $transition;

      & img {
        @include dimensions(1.3rem,1.3rem);

        pointer-events: none;
        opacity:0;
        filter:invert(100%);
        transition: $transition;
      }
    }
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
