@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Raleway:wght@300&display=swap');

$bg-color-1: #ffffff; 
$backdrop-color:rgba(0, 0, 0, 0.383);
$bg-color-3:#bae8e8;
$nav-bg-color : #272343; 

$font-color-1:#808080;
$font-color-2:#0e0e0e;
$font-color-3:#ffffff;

$link-font:'Raleway', sans-serif;
$text-font:'Nunito', sans-serif;

$shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
rgba(0, 0, 0, 0.22) 0px 15px 12px;

$transition:0.3s;


// .third-color { 
// 	background: #e3f6f5; 
// }

// .fourth-color { 
// 	background: #bae8e8; 