@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.controls {
  padding: 0 1rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > form {
    display:flex;
    direction: row;
    align-items: center;
    column-gap:0.5rem;

    color:$font-color-1;
    font-family: $text-font;

    & select {
      padding:0.5rem;

      background-color: $bg-color-3;
      color:$font-color-2;
      font-family: inherit;
      font-size: 1rem;

      border:none;
      outline:none;
    }
  }
}


.pagination-container {
  @include dimensions(max-content, 100%);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;

  & button {
    @include dimensions(30px, 30px);

    background-color: $font-color-3;
    color: $font-color-1;
    font-weight: 600;

    border: none;
    border-radius: 50%;
    outline: solid rgb(255, 255, 255) 2px;
    cursor: pointer;
    transition: $transition;

    & img {
      @include dimensions(15px, 15px);

      filter: invert(50%);
    }

    &:hover {
      outline: solid $nav-bg-color 2px;
    }
  }

}

.active-page {
  outline: solid $nav-bg-color 2px !important;
}
