@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.footer {
  @include dimensions(100%, max-content);
  @include flex-box(row);
  justify-content: flex-start;
  padding: 1rem 0;

  & > div {
    padding: 2rem;
    text-align: center;

    li {
      margin: 1rem;
      font-size: 15px;
    }

    h3 {
      font-family: $link-font;
      font-weight: map-get($font-weights, "medium");
      font-size: map-get($font-sizes, "medium");
    }
  }
}

.social {
  @include dimensions(20%, auto);

  ul {
    @include dimensions(100%, auto);
    @include flex-box(row);
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  img {
    @include dimensions(30px, 30px);
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    @include dimensions(100%, max-content);
    @include flex-box(column, wrap);
    align-content: flex-start;

    & > div {
      padding: 2rem;
      text-align: start;

      li {
        margin: 1.5rem auto;
        font-size:map-get($font-sizes,"medium");
      }

      h3 {
        font-size: map-get($font-sizes, "large");
        width:max-content;
      }
    }
  }

  .social {
    @include dimensions(50%, auto);
  
    ul {
      @include dimensions(100%, auto);
      @include flex-box(row,wrap);
      justify-content: space-around;
    }
  
    img {
      @include dimensions(30px, 30px);
    }
  }
}
