@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  @include dimensions(100%, max-content);
  font-family: $link-font;
  color: $font-color-3;

  & section {
    @include dimensions(clamp(400px, 85%, 1030px), 100%);
    margin: $offset-top-header auto;
    padding: 1rem;

    background-color: $bg-color-3;
    @include border(null, null, null, map-get($radius, "medium"));
    box-shadow: $shadow-2;

    color: $font-color-1;
    text-align: center;

    h2 {
      font-size: map-get($font-sizes, "xl");
      margin: 1rem 0;
      padding-bottom: 1rem;
      border-bottom: 2px solid $bg-color-3;
    }

    form {
      @include dimensions(100%, 100%);
      @include flex-box(column, wrap);
      row-gap: 2rem;

      & > div {
        @include dimensions(100%, max-content);
      }

      & > div:nth-child(1) {
        @include flex-box(row, wrap);
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        padding-bottom: 2rem;

        border-bottom: 2px solid $bg-color-3;

        & > div {
          @include dimensions(12rem, 7rem);
          @include flex-box(column, wrap);

          & span {
            display: inline-block;
            margin-top: 5px;
            height: 17px;

            color: $error-color;
            font-size: map-get($font-sizes, "small");
            text-overflow: ellipsis;
            text-align: center;
          }

          & > div {
            @include dimensions(100%, 40%);
            position: relative;

            overflow: hidden;

            & img {
              @include dimensions(15px, 15px);
              position: absolute;
              top: 50%;
              right: 1rem;
              transform: translateY(-50%);

              pointer-events: none;
              filter: invert(100%);
            }
          }

          label {
            margin: 0.5rem 0;

            color: $font-color-1;
          }

          select,
          input {
            @include dimensions(100%, 100%);
            position: relative;
            appearance: none;
            padding-left: 1rem;

            background: $nav-bg-color-light;
            border: none;
            outline: none;

            color: $font-color-3;
            font-family: $text-font;
            font-size: map-get($font-sizes, "small");
            transition: $transition;

            cursor: pointer;
          }

          input::placeholder {
            color: $placeholder-color;
          }
        }

        & > div:nth-last-child(1) {
          @include dimensions(100%, 80%);
          text-align: center;
        }
      }

      & > div:nth-last-child(1) {
        & > button {
          width: 100px;
          margin: 2rem 0.5rem;
          padding: 0.5rem 1rem;

          text-align: center;
          color: $font-color-3;
          font-family: $text-font;
          font-weight: map-get($font-weights, "medium");

          @include border(null, null, null, map-get($radius, "medium"));
          background-color: $nav-bg-color-light;
          cursor: pointer;
          transition: $transition;

          &[disabled] {
            pointer-events: none;
            background-color: $bg-color-3;
          }

          &:nth-child(1):hover {
            background-color: $error-color;
          }
          &:nth-child(2):hover {
            background-color: $success-color;
          }
        }
      }
      select:hover,
      select:focus,
      button:hover,
      button:focus,
      input:hover,
      input:focus {
        box-shadow: $shadow-inset;
      }
    }
  }
}

@media only screen and (max-width: 730px) {

  .main {
    & section {
      @include dimensions(90%, max-content);
      margin: $offset-top-header auto;
      padding: 1rem 0.5rem;

      h2 {
        font-size: map-get($font-sizes, "large");
      }

      form {
        & > div:nth-child(1) {
          column-gap: 0.5rem;

          & > div {
            @include dimensions(8.5rem, 6rem);
  
            & label {
              margin: 0.3rem 0;
  
              font-size: map-get($font-sizes, "small");
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
  
            & span {
              font-size: 12px;
            }
  
            & textarea {
              @include dimensions(90%, auto);
            }
          }
        }
      }
    }

  }
}
