@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  @include flex-box(column);
}

.form-wrapper {
  @include dimensions(100%, max-content);
  box-shadow: $shadow-2;
  background-color: $bg-color-2;

  & form {
    @include dimensions(100%, max-content);
    @include flex-box(row, wrap);
    justify-content: center;
    align-items: flex-end;
    row-gap: 2vw;

    color: $font-color-2;

    & div {
      @include dimensions(150px, 50%);
      position: relative;
      @include flex-box(column, wrap);
      align-items: center;

      font-family: $link-font;

      & > div {
        @include dimensions(100%, 40%);

        overflow: hidden;

        & img {
          @include dimensions(15px, 15px);
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);

          pointer-events: none;
          filter: invert(60%);
        }
      }

      label {
        @include dimensions(100%, 100%);
        display: inline-block;
        padding: 0.7rem 0;

        text-align: center;
        text-overflow: ellipsis;
        word-break: keep-all;
        white-space: nowrap;
        color: inherit;

        overflow: hidden;
      }

      button {
        all: unset;
        @include dimensions(100%, max-content);
        max-width: 100px;
        padding: 0.6rem;

        background-color: $bg-color-2;

        text-align: center;
        font-family: $text-font;
        cursor: pointer;

        img {
          @include dimensions(20%, 20%);
        }

        &:hover,
        &:active {
          box-shadow: $shadow-inset;
        }
      }
      select,
      input {
        @include dimensions(100%, 100%);
        position: relative;
        padding: 0.7rem;

        appearance: none;

        background-color: $bg-color-2;
        @include border(null, null, null, 0px);
        @include outline(null, null, null, 0px);

        font-family: $text-font;
        font-size: map-get($font-sizes, "small");
        color: inherit;

        overflow: auto;
        cursor: pointer;
      }

      input {
        @include dimensions(90%, 100%);
        padding: 0.7rem 1rem;

        font-family: inherit;
        caret-color: $nav-bg-color-dark;

        &::placeholder {
          font-family: $link-font;
        }
      }

      select:hover,
      select:focus,
      input:hover,
      input:focus {
        box-shadow: $shadow-inset;
      }
    }
  }
  button {
    all: unset;
    position: relative;
    padding: 1rem;

    color: $font-color-1;
    font-family: $text-font;
    font-size: map-get($font-sizes, "small");
    font-weight: map-get($font-weights, "medium");
    text-decoration: underline;
    text-underline-offset: 3px;

    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $font-color-2;
    }
  }
}
