@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  margin:2rem auto auto 0;
  
  text-align: center;
  color: $font-color-3;
}

.message-box {
  @include dimensions(60%, max-content);
  position: relative;
  margin: 0 auto;
  padding: 3rem 0.5rem;
  min-width: 300px;

  background: $gradient-blue;
  border-radius: 50px 10px 50px 10px;
  box-shadow: $shadow-2;
  
  font-size: 1.5rem;
  font-family: $link-font;

  z-index: 1;

  a,
  a:active,
  a:visited,
  a:link {
    width: max-content;
    padding: 1.2rem;
    position: absolute;
    bottom: -2rem;
    transform: translateX(-50%);

    border-radius: 30px;
    background-color: $nav-bg-color-light;
    box-shadow: inherit;

    font-family: $text-font;
    color: inherit;

    transition: $transition;
  }

  a:hover {
    color: $nav-bg-color;
    background-color: $bg-color-2;
  }
}

.image-box {
  margin: 0 auto;

  & img {
    @include dimensions(60vh, 60vh);
    
    filter: hue-rotate(25deg);
  }
}
