@import "../../../main-styles/mixins.scss";
@import "../../../main-styles/variables.scss";

.gallery {
  @include dimensions(100%, 80%);
  margin: auto;
  position: relative;

  & > img {
    @include dimensions(100%, 100%);
    object-fit: fill;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;

    background-color: rgba(83, 96, 109, 0.446);
    border: none;

    cursor: pointer;
    transition: $transition;

    & img {
      @include dimensions(20px, 20px);

      pointer-events: none;
      transition: $transition;
    }

    &:hover {
      background-color: $nav-bg-color-light;

      & img {
        filter: invert(100%);
      }
    }
  }
}

.button-expand {
  top: 0 !important;
  right: 0;
  transform: translateY(0) !important;
}

.photo-row {
  @include dimensions(100%, max-content);
  @include flex-box(row);
  justify-content: flex-start;
  column-gap: 0.3rem;
  padding-bottom: 0.5rem;

  overflow: auto;
  white-space: nowrap;

  & img {
    @include dimensions(70px, 50px);

    cursor: pointer;
    opacity: 0.5;
    transition: $transition;

    &:hover {
      opacity: 1;
    }
  }
}

.counter {
  margin: 1rem 0;
  
  text-align: center;
  color: $font-color-1;
}

.active {
  opacity: 1 !important;
}

.lightbox-gallery {
  @include dimensions(65%, 90%);
  margin: 2rem auto;
  position: relative;

  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  & > img {
    @include dimensions(100%, 100%);
  }

  button {
    position: absolute;
    top: 50%;
    padding: 0.5rem;
    transform: translateY(-50%);

    background-color: rgba(83, 96, 109, 0.446);
    border: none;

    cursor: pointer;
    transition: $transition;

    & img {
      @include dimensions(20px, 20px);

      pointer-events: none;
      transition: $transition;
    }

    &:hover {
      background-color: $nav-bg-color-light;

      & img {
        filter: invert(100%);
      }
    }
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
