@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Raleway:wght@300&family=Special+Elite&display=swap");

$bg-color-1: #ffffff;
$bg-color-2: #67d4ce7d;
$bg-color-3: rgba(119, 136, 153, 0.211);

$nav-bg-color-dark: #272343;
$nav-bg-color-medium: #4045ac;
$nav-bg-color-light: #7277d6e3;

$backdrop-color-dark: rgba(0, 0, 0, 0.2);
$backdrop-color-light: rgba(0, 0, 0, 0.5);

$font-color-1: #808080;
$font-color-2: #0e0e0e;
$font-color-3: #ffffff;
$placeholder-color: #bebebe;
$error-color: rgb(201, 26, 26);
$success-color: rgb(42, 149, 42);

$link-font: "Raleway", sans-serif;
$text-font: "Nunito", sans-serif;

$offset-top-header: 3rem;

$shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$shadow-2: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$shadow-inset: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

$transition: 0.3s;
