@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.footer {
  @include dimensions(100%, max-content);
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background: $nav-bg-color;

  & > div {
    padding: 2rem;

    font-family: $text-font;
    text-align: center;

    li {
      margin: 1rem;
    }
  }

  h3 {
    margin-bottom: 1rem;

    font-family: $link-font;
    font-weight: 800;
    font-size: 1.2rem;
  }
}

.social {
  width: 20%;

  ul {
    @include dimensions(100%, auto);
    display: flex;
    justify-content: space-evenly;
  }

  img {
    @include dimensions(30px, 30px);

    filter: invert(100%);
  }
}
