@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.header {
  @include dimensions(100%, 3.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $nav-bg-color-dark;
  box-shadow: $shadow;

  & nav {
    @include dimensions(70%, 100%);
  }

  & ul {
    @include dimensions(100%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap:5vw;

    padding-left:3rem;

    & li {
      & img {
        @include dimensions(2rem,2rem);
        filter:invert(100%);
      }
    }

    & li:not(li:first-child) {
      position:relative;

      &:before {
        height: 1px;
        max-width: 0;
        position: absolute;
        inset: 120% 0px;

        background-color: $bg-color-1;

        content: "";
        transition: $transition;
      }
    }

    & li:not(li:first-child):hover {
      &:before {
        max-width: 100px;
      }
    }
  }

  & button {
    all: unset;

    margin-right: 2rem;
    padding: 0.4rem;

    border: solid 1px $font-color-3;
    border-radius: 50%;
    outline: solid 2px transparent;
    outline-offset: 3px;

    transition: $transition;
    cursor: pointer;

    img {
      margin-top:1px;
      @include dimensions(15px, 15px);
      filter:invert(100%);
    }
  }

  & button:hover {
    outline-color: inherit;
  }

}
