@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.header {
  @include dimensions(100%, 3.5rem);
  @include flex-box(row);
  justify-content: space-between;
  align-items: center;

  box-shadow: $shadow;

  & nav {
    @include dimensions(max-content, 100%);
  }

  & ul {
    @include dimensions(100%, 100%);
    @include flex-box(row);
    justify-content: flex-start;
    align-items: center;
    column-gap: 4vw;
    padding-left: 4vw;

    & li {
      & img {
        @include dimensions(30px, 30px);
      }
    }

    & li:not(li:first-child) {
      position: relative;

      &:before {
        height: 1px;
        max-width: 0;
        position: absolute;
        inset: 120% 0px;

        background-color: $bg-color-1;

        content: "";
        transition: $transition;
      }
    }

    & li:not(li:first-child):hover {
      &:before {
        max-width: 100px;
      }
    }
  }

  & button {
    all: unset;

    margin-right: 30px;
    padding: 7px;

    @include border(solid, 1px, $font-color-3, map-get($radius, "circle"));
    @include outline(solid, 2px, transparent, 3px);

    transition: $transition;
    cursor: pointer;

    img {
      margin-top: 1px;
      @include dimensions(15px, 15px);
      filter: invert(100%);
    }
  }

  & button:hover {
    outline-color: inherit;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    position: fixed;
    top:0;
    z-index: 4;

    & li:not(li:first-child) {
      display: none;
    }

    & button {
      margin-right:20px;
    }
  }
}
