@import "resets";
@import "variables";
@import "mixins";

body {
  box-sizing: border-box;

  background-color: $bg-color-1;
  color: $font-color-3;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  height:max-content;
  min-height: 80vh;
  position:relative;
}

header,footer {
  background: $nav-bg-color;
}

a {
  text-decoration: none;
  color:$font-color-3;
  font-family: $link-font
}

.divider {
  @include dimensions(120vw, 5rem);
  position: fixed;
  top:70%;

  background-color: $bg-color-2;
  transform: rotate(5deg) translateX(-5%);

  z-index: -5;
  pointer-events: none;
  box-shadow: $shadow-2;

  &::before {
    @include dimensions(30%,20px);
    position: absolute;
    top:-20px;
    left:0;

    content: "";
    background-color: rgba(215, 218, 11, 0.395);

    transform: skew(50deg);
    z-index: -6;
  }
}

.fade-in {
  -webkit-animation: fade-in $transition cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  animation: fade-in $transition cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
