@import "resets";
@import "variables";

body {
  box-sizing: border-box;
  background-color: $bg-color-1;
  color: $font-color-3;
  overflow-x: hidden;
}

main {
  height:max-content;
  min-height: 100vh;
  margin-top:2rem;
}

header {
  background: $nav-bg-color;
}

a {
  text-decoration: none;
  color:$font-color-3;
  font-family: $link-font
}
