@import "../../../main-styles/mixins.scss";
@import "../../../main-styles/variables.scss";

.container {
  @include dimensions(clamp(300px, 85%, 46rem), max-content);
  margin: 0 auto;
  @include flex-box(row, wrap);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.add-button-container {
  @include dimensions(auto, 8rem);
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    @include dimensions(3rem, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $nav-bg-color-light;
    @include border(null, null, null, map-get($radius, "circle"));
    @include outline(null, null, null, 0px);
    box-shadow: $shadow-2;
    cursor: pointer;

    & img {
      @include dimensions(60%, 60%);
    }
  }
}

.card-empty {
  @include dimensions(8rem, 8rem);
  position: relative;

  @include border(dashed, 2px, $nav-bg-color-light, map-get($radius, "small"));
  background-color: $bg-color-3;
  box-shadow: $shadow-2;
  overflow: hidden;

  & label {
    @include dimensions(100%, 100%);
    @include flex-box(row);
    justify-content: center;
    align-items: center;

    cursor: pointer;

    & img {
      @include dimensions(30%, 40%);
    }
  }

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
    color: $error-color;
  }
}

.card-filled {
  @include dimensions(8rem, 8rem);
  position: relative;

  & > img {
    @include dimensions(100%, 100%);

    @include border(null, null, null, map-get($radius, "small"));
    box-shadow: $shadow-2;

    object-fit: cover;
  }

  & button {
    @include dimensions(1.3rem, 1.3rem);
    position: absolute;
    top: -10px;
    right: -10px;
    @include flex-box(row);
    justify-content: center;
    align-items: center;

    background-color: $font-color-1;
    @include border(null, null, null, map-get($radius, "circle"));
    outline: none;
    cursor: pointer;

    transition: $transition;

    &:hover {
      background-color: $nav-bg-color-light;
    }
  }
}
