@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.main {
  margin: 2rem auto auto 0;

  text-align: center;
  color: $font-color-3;
}

.message-box {
  @include dimensions(clamp(250px,50vw,600px), max-content);
  position: relative;
  margin: 0 auto;
  padding: 2.5rem 0.5rem;

  background: $side-bar-color;
  box-shadow: $shadow-2;
  border-radius: 50px 10px 50px 10px;

  font-size: 1.5rem;
  font-family: $link-font;

  z-index: 1;

  a,
  a:active,
  a:visited,
  a:link {
    width: max-content;
    padding: 1.2rem;
    position: absolute;
    bottom: -2rem;
    transform: translateX(-50%);

    background-color: $nav-bg-color;
    box-shadow: inherit;
    border-radius: 30px;

    font-family: $text-font;
    color: inherit;

    transition: $transition;
  }

  a:hover {
    color: $nav-bg-color;
    background-color: $bg-color-2;
  }
}

.image-box {
  margin: 0 auto;

  & img {
    @include dimensions(60vh, 60vh);

    pointer-events: none;
    filter: hue-rotate(25deg);
  }
}

.fb-image-box {
  margin: 5% auto;

  & img {
    max-width:90vw;
    pointer-events: none;
    filter: hue-rotate(45deg);
  }
}
