@import "../../main-styles/mixins.scss";
@import "../../main-styles/variables.scss";

.form-wrapper {
  @include dimensions(clamp(700px, 60%, 1000px), clamp(500px, 100vh, 600px));
  margin: 3vh auto;
  padding: 2rem 0;
  position: relative;

  background: $bg-color-1;
  box-shadow: $shadow-2;
  @include border(null, null, null, map-get($radius, "medium"));

  text-align: center;

  h3 {
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 1rem;

    border-bottom: 2px solid $bg-color-3;

    color: $font-color-1;
    font-family: $text-font;
    font-weight: map-get($font-weights, "medium");
    font-size: map-get($font-sizes, "xl");
  }

  & > button:first-of-type {
    @include dimensions(2rem, 2rem);
    @include flex-box(row);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;

    background-color: $font-color-1;
    @include border(null, null, null, map-get($radius, "circle"));
    outline: none;

    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $nav-bg-color-light;
    }

    & img {
      @include dimensions(1.3rem, 1.3rem);

      pointer-events: none;
      filter: invert(100%);
    }
  }

  & > button:nth-of-type(2) {
    all: unset;
    padding: 0.5rem 1rem;

    background-color: $nav-bg-color-light;
    @include border(null, null, null, map-get($radius, "medium"));

    color: $font-color-3;
    font-family: $text-font;
    font-weight:map-get($font-weights,"medium");

    cursor: pointer;
    transition: $transition;
  }

  & form {
    @include dimensions(80%, max-content);
    margin: 2rem auto;
    @include flex-box(row, wrap);
    justify-content: center;
    align-items: center;

    & div {
      @include dimensions(25%, auto);
      @include flex-box(column, wrap);
      align-items: center;
      align-content: center;

      font-family: $link-font;

      overflow: hidden;

      button {
        all: unset;
        @include dimensions(50%, max-content);
        max-width: 100px;
        margin-top: 2rem;
        padding: 0.5rem 0;

        background-color: $nav-bg-color-light;
        box-shadow: $shadow-2;
        @include border(null, null, null, 5px);

        color: $font-color-3;
        font-family: $text-font;
        text-align: center;

        cursor: pointer;

        img {
          @include dimensions(25%, 25%);
          filter: invert(100%);
        }
      }

      & > div {
        @include dimensions(100%, 40%);
        position: relative;

        & img {
          @include dimensions(15px, 15px);
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);

          pointer-events: none;
          filter: invert(100%);
        }
      }

      label {
        margin: 0.5rem 0;
        color: $font-color-1;
      }

      select,
      input {
        @include dimensions(100%, 100%);
        position: relative;
        padding: 1rem;

        appearance: none;
        border: none;
        outline: none;
        overflow: auto;

        color: $font-color-3;
        background: $nav-bg-color-light;
        font-family: $text-font;
        font-size: map-get($font-sizes, "small");

        cursor: pointer;

        &::placeholder {
          color: $placeholder-color;
        }
      }
      input {
        padding: 1rem 0 1rem 2rem;
      }
    }
  }
  select:hover,
  select:focus,
  button:hover,
  button:focus,
  input:hover,
  input:focus {
    box-shadow: $shadow-inset;
  }
}

@media only screen and (max-width: 750px) {
  .form-wrapper {
    @include dimensions(100%, 100vh);
    margin: 0 auto 1rem auto;
    padding: 1rem 0.3rem;

    overflow-y: scroll;
    @include border(null, null, null, 0);

    h3 {
      margin: 1rem auto;
      font-weight: map-get($font-weights, "medium");
      font-size: map-get($font-sizes, "large");
    }

    & > button:first-of-type {
      @include dimensions(1.7rem, 1.7rem);

      & img {
        @include dimensions(1rem, 1rem);
      }
    }

    & form {
      @include dimensions(95%, max-content);

      & div {
        @include dimensions(clamp(100px, 25%, 190px), auto);

        button {
          @include dimensions(70%, max-content);
        }

        & > div {
          @include dimensions(100%, 40%);
          position: relative;
        }

        label {
          margin: 0.5rem 0;
          font-size: map-get($font-sizes, "small");
        }

        select {
          padding: 0.8rem;
        }

        input {
          padding: 0.8rem 0 0.8rem 2rem;
        }
      }
    }
  }
}

@media only screen and (max-height: 500px) {
  .form-wrapper {
    @include dimensions(100%, 93vh);
    margin: 0 auto;
    padding: 1rem 0.3rem;

    overflow-y: scroll;
    @include border(null, null, null, 0);

    h3 {
      margin: 1rem auto;
      font-weight: map-get($font-weights, "medium");
      font-size: map-get($font-sizes, "large");
    }

    & > button:first-of-type {
      @include dimensions(1.7rem, 1.7rem);

      & img {
        @include dimensions(1rem, 1rem);
      }
    }

    & form {
      @include dimensions(95%, max-content);

      & div {
        @include dimensions(clamp(100px, 25%, 190px), auto);

        button {
          @include dimensions(70%, max-content);
        }

        & > div {
          @include dimensions(100%, 40%);
          position: relative;
        }

        label {
          margin: 0.5rem 0;
          font-size: map-get($font-sizes, "small");
        }

        select {
          padding: 0.8rem;
        }

        input {
          padding: 0.8rem 0 0.8rem 2rem;
        }
      }
    }
  }
}
